@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.topnav {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;

  background-color: $gray-300;

  output {
    min-width: 50px;
  }
}

.result-set {
  background-color: $gray-300;

  .result {
    background-color: $orange-400;
  }
}
