<nav class="navbar topnav">
  <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
  <div class="d-flex">
    <button class="btn btn-primary fw-bold me-2" (click)="openModal(sumModal)">Sum</button>
    <output class="form-control fw-bold text-center">{{ total }}</output>
  </div>
  <div class="d-flex">
    <output class="form-control fw-bold text-center me-2">{{ count }}</output>
    <button class="btn fw-bold btn-primary" (click)="openModal(digitsModal)">Digits</button>
  </div>
</nav>

<div class="container">
  <div class="row" *ngFor="let result of results">
    <div class="col text-center fw-bold my-1 fs-3">
      <span class="badge rounded-pill result-set" (click)="toggleAttribute($event, 'data-selected')">
        <span class="badge rounded-pill result mx-1" *ngFor="let num of result">{{ num }}</span>
      </span>
    </div>
  </div>
</div>

<ng-template #sumModal let-modal>
  <div class="modal-body container">
    <div class="row" *ngFor="let row of totals">
      <button type="button" class="col btn btn-primary fw-bold m-2" *ngFor="let num of row" (click)="setTotal(num); modal.close()">{{ num }}</button>
    </div>
  </div>
</ng-template>

<ng-template #digitsModal let-modal>
  <div class="modal-body container">
    <div class="row" *ngFor="let digit of digits">
      <button type="button" class="col btn btn-primary fw-bold m-2" (click)="setCount(digit); modal.close()">{{ digit }}</button>
    </div>
  </div>
</ng-template>